.tables {
  width: 1020px;
  margin: auto;
  flex-direction: row;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;

}

.table {
  width: 250px;
  height: 300px;
  background-color: white;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
  align-items: center;
  text-align: center;
  align-content: center;
  color: black;
}

.table img {
  width: 150px;
}

.table p {
  color: rgb(134, 134, 134);
  font-size: 15px;
}

.how_it_works{
  text-align: center;
}
